<header class="header container-fluid main-wrapper mb-5 mb-sm-4">

    <div class="row pt-3 pb-5 pb-sm-3 align-items-center position-relative">
        <div class="col-12 col-sm-2 d-flex justify-content-center justify-content-sm-start py-4 py-sm-0">
            <img src="https://www.themoviedb.org/assets/1/v4/logos/primary-green-d70eebe18a5eb5b166d5c1ef0796715b8d1a2cbc698f96d311d62f894ae87085.svg" alt="The Movie Database (TMDb)" width="81" height="72">
       </div>
        
        <div class="col-12 col-sm-8 justify-content-center search-wrapper">
            <app-search></app-search>
        </div>
        <!-- <div class="col-12 col-sm-2 user-info"></div> -->
    </div>
    
</header>