.search-bar{
   background: #FFFFFF;
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
   border-radius: 22px;

   input.form-control {
       border-top-left-radius: 22px;
       border-bottom-left-radius: 22px;
       &:focus {
        box-shadow: none;;
       }
   }
}

.input-group-text {
  border: none
}
.search-bar-icon{
   color: #01D277;
}

#search-bar::placeholder{
   color: #01D277;
}